body {
    background-color: rgb(145, 215, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}
.common {
    background-color:rgb(9, 3, 34);
    border: solid 2px white;
    position: absolute
}
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
}
.mainbody {
    top: 114px;
    bottom: 20px;
    left: 5px;
    right: 5px;
    height: 100vh;
    position: absolute
}
.footer {
    bottom: 5px;
    height: 50px;
    left: 5px;
    right: 5px;
    position: fixed;
}
.linkbox {
    float: right;
    border: 5px solid rgb(221, 184, 19);
    color: white;   
}
a {
    color: white;
}
.tableaufont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}